*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar{
  position: static;
  left: 0px;
  top:68px;
  width: auto;
  bottom: 0;

}


ul{
  list-style-type: none;
}
.sidebar ul li {

  padding: 25px 5px;
  border-bottom: 2px solid rgba(100, 100, 100, .3);


}
#lista{
  color:white;
  text-decoration: none;
  display: inline-block;
}

.info{
  border-style: outset;
  padding-left: 5px;
}
.sidebar{
  position: fixed;
  height: 100%;
  background: #aa1916;
   float: left;
 }
