body{

}
.sidebar{
   width: auto;
   height: auto;
   background: #aa1916;
  float: left;

}

.treeview-menu{

  list-style-type: none;
}
.sidebar ul li {


  padding: 10px 0px;
  border-bottom: 2px solid rgba(100, 100, 100, .3);

}
#barra{
  color:white;
  text-decoration: none;
  display: inline-block;
}

.info{
  border-style: outset;
  padding-left: 5px;
}
