.menu{
  width: 2.7rem;
  height: 2.7rem;
  background: #aa1916;
  position:fixed;
  top:0;
  left: 0%;
  font-size: 2rem;
  color: white;
  text-align:left;
  transition: left 0,7s;
}

.checkbox:checked ~ .menu {
  left: 0;
  border-redius: 0 0.5ren 0.5rm 0;
}

.left-panel{
  width: auto;
  position: absolute;
  top:auto;
  left: -40%;
  display: flex;
  justify-content: center;
  transition: left 0.4s;

}

.checkbox:checked ~ .left-panel{
  left: 0;
}
.checkbox{
  display:none;
}


ul{
  list-style-type: none;
}

.left-panel ul li {

  padding: 20px 5px;
  border-bottom: 2px solid rgba(100, 100, 100, .3);


}
#lista{
  color:white;
  text-decoration: none;
  display: inline-block;
}


.left-panel{
  position: fixed;
  height: 100%;
  background: #aa1916;
  float: left;
 }

 .sub {
   margin-left: 20px;
 }
