*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

form{
  margin: auto;
  border-radius: 20px;
  background white;
  width: 400px;
  height: 350px;
  box-shadow: 7px 13px 37px black;
  margin-top: 123px solid red;
  border-bottom:4px solid #aa1916;
}
.box p{
  color: black;
  text-align: center;
  margin-top: 20px;

}
.box{
  position: relative;
top:100px;
}

.buton{
  margin-left: 150px;
}
