*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.fila2{

}
.fila1{
float: left;
width: 300px;
}

.form_register{
  border-radius: 15px;
  box-shadow: 7px 13px 37px black;
  margin-top: 123px solid red;
  width: 700px;
  margin: auto;
}
.form_register h2{
  text-align: center;

}


hr{
   border: 0;
   background: #CCC;
   height: 1px;
   margin:10px;
   display:block;

}
form{
  background: #FFF;
  margin: auto;
  padding: 20px 50px;
  border: 1px solid #d1d1d1;
}
label{
  display: block;
  font-size: 17px;
  font-family: "GothanBook";
  margin: 15px auto 5px auto;
}
input,select{
display: block;
width: 270px;
font-size: 11px;
padding: 5px;
border:1px solid #85929e;
border-radius: 5px;
}

btn_save{
  font-size: 12px;
  background: 10px;
  padding: 10px;
  color: #FFF;
  letter-spacing: 3px;
  border:0;
  cursor:  pointer;
  margin 15px auto;
  padding-top: 5px;
  margin-top: 15px;
}
btn_save{
  font-size: 12px;
  background: 10px;
  padding: 10px;
  color: #FFF;
  letter-spacing: 3px;
  border:0;
  cursor:  pointer;
  margin 15px auto;
}
reset{
  btn_save{
    font-size: 12px;
    background: 10px;
    padding: 10px;
    color: #FFF;
    letter-spacing: 3px;
    border:0;
    cursor:  pointer;
    margin 15px auto;

}
.alert{
  width: 100%;
  background: #66e07d66;
  border-radius: 6px;
  margin: 20px auto;

}
.msg_error{
  color = #e65656;

}
.msg_save{
  color = #126e68;
}
.alert p{
  padding: 10px;
}
